body {
	font: 400 1em/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
	background: #e9e9e9;
	-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
}
.container {
	width: 480px;
	padding: 18px;
	overflow: hidden;
	margin: 80px auto 0;
	border: 1px solid #e5e5e5;
	background: #fff;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;

	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.075);
	   -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.075);
			box-shadow: 0 1px 5px rgba(0,0,0,0.075);

	text-align: center;
}

.footer {
	position: relative;
	margin: 30px -18px -18px;
	background: #f5f5f5;
	color: #888;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #e5e5e5;
	font-size: 13px;
	text-align: left;
}
.footer a {
	color: #888;
	text-decoration: none !important;
}
.footer a:hover {
	color: #1155cc;
}

h1 {
	font-size: 64px;
	text-align: center;
	margin: 0;
	color: #000;
	font-weight: 400;
}
.desc {
	font-size: 14px;
	text-align: center;
}
h3 {
	margin-bottom: 0;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	color: #000;
}
.row {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-align: left;
}
p {
	text-align: left;
}