/*! jCheckbox v0.0.1 | MIT License | moh4med.com/projects/jcheckbox */

.jcheckbox {
  cursor: pointer; }
  .jcheckbox .jchkbox-unvisible {
    display: none; }
  .jcheckbox span.jchkbox {
    width: 5px;
    height: 5px;
    padding: 2px;
    margin-bottom: .1em;
    background: #fff;
    border: 2px solid #bdc3c7;
    overflow: hidden;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    .jcheckbox span.jchkbox > span {
      display: block;
      width: 100%;
      height: 100%; }
  .jcheckbox:hover span.jchkbox {
    border-color: #d8d8d8; }
    .jcheckbox:hover span.jchkbox > span {
      background: #d8d8d8; }
  .jcheckbox.active span.jchkbox {
    border-color: #3498db; }
    .jcheckbox.active span.jchkbox span {
      background: #3498db; }

.inline-block, .jcheckbox .jchkbox-text, .jcheckbox span.jchkbox {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.rounded2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.rounded50, .jcheckbox.jchkbox-rounded span.jchkbox, .jcheckbox.jchkbox-rounded span.jchkbox > span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.padding-box, .rounded2, .rounded50, .jcheckbox.jchkbox-rounded span.jchkbox, .jcheckbox.jchkbox-rounded span.jchkbox > span {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.transition-bg-25, .jcheckbox span.jchkbox, .jcheckbox span.jchkbox > span {
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out; }

.transition-border-25, .jcheckbox span.jchkbox, .jcheckbox span.jchkbox > span {
  -webkit-transition: border-color 0.25s ease-out;
  -moz-transition: border-color 0.25s ease-out;
  -o-transition: border-color 0.25s ease-out;
  transition: border-color 0.25s ease-out; }
